.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.App-header {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 1em;
}

.BudgetUI {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 50vh;
  margin-top: 5em;
  color: white;
  background-color: rgb(84, 86, 89);
  margin-top: 1em;
}

.Budget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 36px;
  background-color: rgba(103, 109, 116, 0.318);
}

.ExpenseList {
  padding: 1em;
  overflow-y: scroll;
}

.ExpenseForm {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.FormInputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.NameInput {
  width: 70vw;
}

.CostInput {
  width: 30vw;
}

.CurrencyList {
  width: 8em;
  color: black;
}

.CurrencyDropdown {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.Form {
  display: flex;
  height: 75vh;
  width: 30vw;
  flex-direction: column;
  justify-content: center;
}

.LoginForm, .RegisterForm {
  padding: 1em;
  border: 1px solid;
  border-color: #000000;
}

.NavLinks {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: flex-end;
}