.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BudgetUI {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 50vh;
  margin-top: 5em;
  color: white;
  background-color: dodgerblue;
}

.Budget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 36px;
  background-color: navy;
}

.ExpenseList {
  padding: 1em;
  overflow-y: scroll;
}

.ExpenseForm {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.FormInputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.NameInput {
  width: 70vw;
}

.CostInput {
  width: 30vw;
}

.CurrencyList {
  width: 8em;
  color: black;
}

.CurrencyDropdown {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}